:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
}

.home-content {
    width: 50rem;
    display: flex;
    flex-direction: column;
}

.home-content__header {
    max-width: 20rem;
    font-size: 60px;
    letter-spacing: .7px;
    margin: 10px;
}

.home-content__body {
    max-width: 30rem;
    align-self: flex-end;
    letter-spacing: .5px;
    font-weight: 100;
    font-size: 25px;
    margin: 70px 10px 10px 10px;
}